* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex; /* Flexbox */
  /* Ao utilizar "display: flex", as propriedades abaixo já são settadas: */
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  /* ---- */
  background:rebeccapurple;
  height: 650px;
  gap: 30px; /* Espaçamento entre cada item */
  flex-wrap: wrap; /* quebra a linha caso precise */
}

.flex-item {
  width: 29%;
  background: royalblue;
  margin: 5px;
}